:root {
  --verde: #00a149;
  --blanco: #fff;
  --rojo: #881014;
  --oscuro: #000;
  --titulos: "Arima", cursive;
  --parrafos: "Mulish" sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
