:root {
  --verde: #00a149;
  --blanco: #fff;
  --rojo: #881014;
  --oscuro: #000;
  --titulos: "Arima", cursive;
  --parrafos: "Mulish" sans-serif;
}
html {
  box-sizing: border-box;
  /* 1rem=10px */
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}
/* globales */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
h1,
h2 {
  font-family: var(--titulos);
}
h3,
p,
a {
  font-family: var(--parrafos);
}
/* encabezado */
.contenedor-navegacion {
  background-color: var(--oscuro);
}
.contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h2, .navegacion a{
  color: var(--blanco);
}
.navegacion a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
}
